{% load i18n %}
{% load static %}

<nav class="navbar navbar-dark navbar-expand-lg bg-dark sticky-top" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="{% url 'trix_student_dashboard' %}">
            Trix
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#trixNavbar" aria-controls="trixNavbar" aria-expanded="false"
            aria-label="{% trans 'Toggle navigation' %}">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="trixNavbar">
            <ul class="navbar-nav ml-auto">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_admin %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}">
                            <span class="fas fa-cogs"></span>
                            {% trans "Superuser" %}
                        </a>
                    </li>
                    {% endif %}
                    {% if request.user.is_admin_on_anything %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'trix_course_dashboard' %}">
                            <span class="fas fa-cog"></span>
                            {% trans "Administer" %}
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href='{% url "trix_profile_page" %}'>
                            <span class="fa fa-user"></span>
                            {% trans "Profile" %}
                        </a>
                    </li>
                {% endif %}
                {% if not remove_login %}
                <li class="nav-item">
                    {% if request.user.is_authenticated %}
                        {# Either redirect to frontpage or the page the user was at. #}
                        {% if disable_next %}
                            <a class="nav-link" href="{% url 'trix_logout' %}?next{% url 'trix_student_dashboard' %}">
                        {% else %}
                            <a class="nav-link" href="{% url 'trix_logout' %}?next={{ request.get_full_path | urlencode }}">
                        {% endif %}
                            <span class="fas fa-sign-out-alt"></span>
                            {% trans "Sign out" %}
                        </a>
                    {% else %}
                        <a class="nav-link" href="{% url 'trix_login' %}?next={{ request.get_full_path | urlencode }}">
                            <span class="fas fa-sign-in-alt"></span>
                            {% trans "Sign in" %}
                        </a>
                    {% endif %}
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
